
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Coral Login</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.4/css/bootstrap.min.css" integrity="sha384-2hfp1SzUoho7/TsGGGDaFdsuuDL0LX2hnUp6VkX3CUQ2K4K+xjboZdsXyp4oUHZj" crossorigin="anonymous">
    <link rel="stylesheet" href="/stylesheets/style.css" media="screen">
    <link rel="stylesheet" href="/stylesheets/font-awesome.min.css" media="screen">
  </head>

  <body>

    <div class="container">

      <div class="form-signin">
        <form method="post" action="/connect/local">
          <h2 class="form-signin-heading">Coral Login</h2>
          <input type="hidden" name="_csrf" value="<%= csrfToken %>">
          <label for="inputEmail" class="sr-only">Email address</label>
          <input type="email" id="inputEmail" name="email" class="form-control" placeholder="Email address" required autofocus>
          <label for="inputPassword" class="sr-only">Password</label>
          <input type="password" id="inputPassword" name="password" class="form-control" placeholder="Password" required>
          <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
        </form>

        <hr>

        <a class="btn btn-lg btn-secondary btn-block" href="/connect/facebook">Connect with <i class="fa fa-facebook-official" aria-hidden="true"></i> Facebook</a>
        <a class="btn btn-lg btn-secondary btn-block" href="/connect/twitter">Connect with <i class="fa fa-twitter" aria-hidden="true"></i> Twitter</a>
        <a class="btn btn-lg btn-secondary btn-block" href="/connect/google">Connect with <i class="fa fa-google" aria-hidden="true"></i> Google</a>
      </div>

    </div>
  </body>
</html>
