<!-- https://3a5fdfa3.ngrok.io/?callback=https%3A%2F%2Flocalhost%3A3000%2Fcallback -->
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Error</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.4/css/bootstrap.min.css" integrity="sha384-2hfp1SzUoho7/TsGGGDaFdsuuDL0LX2hnUp6VkX3CUQ2K4K+xjboZdsXyp4oUHZj" crossorigin="anonymous">
    <link rel="stylesheet" href="/stylesheets/style.css" media="screen">
    <link rel="stylesheet" href="/stylesheets/font-awesome.min.css" media="screen">
  </head>

  <body>

    <div class="container">

      <pre><%= message %></pre>

      <pre><%= error.stack %></pre>

    </div>
  </body>
</html>
